.widget-area.before-header.before-header-widget-area,
#menu-footer,
#ih-bug {
    display:none;
}

#pgc-w5bb657353ce70-1-0, 
#pgc-w5bb657353ce70-1-2 { 
    display:none; 
    text-align: center !important; 
    width:auto !important; 
}
.panel-row-style-for-w5bb657353ce70-1 {
    justify-content:normal !important; 
}
.post-password-form { 
    padding-top: 20px; 
}


@media print {
  
  #shiftnav-toggle-main, 
  aside.sidebar.sidebar-primary.widget-area {
        display:none;
  }
  
}
